<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulator</title>
    <link rel="stylesheet" href="../../public/stylesheets/estilosIndex.css" type="text/css" />
    <link rel="shortcut icon" href="../../public/images/icon1.ico">
  </head>

   <body>
    <header id="main-header">
		
      <a id="logo-header" href="#">
        <img src="../../public/images/banner4.png" alt="" id="banner"/>
      </a> <!-- / #logo-header -->
  
      <nav>
        <ul>
          <li><a href="../users/inicioSesion" id="a_inicioSesion" method="get" >Iniciar Sesión</a></li>
          <li><a href="../users/registro" id="a_registro">Registrarse</a></li>
          <!-- <li><button href="/users/inicioSesion" id="a_inicioSesion" type="button">Iniciar Sesíon</button></li>
          <li><button action="/registro" method="GET" id="a_registro">Registrarse</button></li> -->
        </ul>
      </nav><!-- / nav -->
  
    </header><!-- / #main-header -->
  
    
    <section id="main-content">
    
          <h2>Simulador de Gastos Portuarios - Puerto de Cartagena</h2>
        <div class="content">
          <p>El objetivo principal de este simulador de gastos portuarios es brindar una solucion que permita a cualquier usuario calcular los costos y realizar una cotizacion de gastos portuarios que pueda causar cualquier mercancia que se pretenda importar o exportar, tambien permite obtener presupuestos de gastos portuarios con las tarifas vigentes a la fecha, de forma rápida, ágil y oportuna.</p>
        </div>
    </section> <!-- / #main-content -->
  
    
    <footer id="main-footer">
      <p>
        Felix Mauricio Puello, Henry Alberto Calderon, Manuel Andres Blanco.
        <br />
        Copyright &copy; 2021. Todos los derechos reservados.
      </p>  
    </footer> <!-- / #main-footer -->
  
       
     </body>
 <html>