<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulador gastos</title>
    <link rel="stylesheet" href="../../public/stylesheets/estilosIndex.css" />
    <link rel="icon" href="../../public/images/icon1.ico" />
  </head>
  <body>
    <header id="main-header">
      <a id="logo-header" href="#">
        <img src="../../public/images/banner4.png" alt="" id="banner" />
      </a>
      <!-- / #logo-header -->

      <nav>
        <ul>
          <li>
            <a href="/users/inicioSesion" target="_blank" id="a_inicioSesion"
              >Iniciar Sesi칩n</a
            >
          </li>
          <li>
            <a href="/users/registro" target="_blank" id="a_registro"
              >Registrarse</a
            >
          </li>
        </ul>
      </nav>
      <!-- / nav -->
    </header>
    <!-- / #main-header -->

    <section id="main-content">
      <h2>Soluci칩n para calculo de costos</h2>

      <div class="content">
        <p>
          El objetivo principal de este <b>simulador de gastos portuarios</b> es
          brindar una solucion que permita a cualquier usuario calcular los
          costos y realizar una cotizacion de gastos portuarios que pueda causar
          cualquier mercancia que se pretenda importar o exportar, tambien
          permite obtener presupuestos de gastos portuarios con las tarifas
          vigentes a la fecha, de forma r치pida, 치gil y oportuna.
        </p>
      </div>
    </section>
    <!-- / #main-content -->

    <div id="columna1">
      <img id="img1" src="../../public/images/RTG-Vista-Externa-General.png" alt="" />
      <img id="img2" src="../../public/images/Simulador-Grua-Portico-Galeria.png" alt="" />
    </div>

    <div id="columna3">
      <img id="img3" src="../../public/images/mhc-crane.png" alt="" />
    </div>

    <footer id="main-footer">
      <p>
        Felix Mauricio Puello, Henry Alberto Calderon, Manuel Andres Blanco.
        <br />
        Copyright &copy; 2021. Todos los derechos reservados.
      </p>
    </footer>
    <!-- / #main-footer -->
  </body>
  <html></html>
</html>
